In [1]:
import numpy as np
import pandas as pd
import random

In [2]:
df = pd.read_excel('CaseStudy1 - Lots_2020.xlsx') # excel-bestand inlezen
df.head()

,Unnamed: 0,Unit 1,Unit 2,Unit 3,Unit 4,Unit 5,Unit 6,Unit 7,Unit 8,Unit 9,...,Unit 191,Unit 192,Unit 193,Unit 194,Unit 195,Unit 196,Unit 197,Unit 198,Unit 199,Unit 200
0,Lot 1,0,1,1,1,1,0,1,1,1,...,1,1,1,1,1,1,1,1,1,1
1,Lot 2,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2,Lot 3,1,1,1,1,1,1,1,1,1,...,1,1,1,1,0,1,1,1,1,1
3,Lot 4,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,0,1,1,1
4,Lot 5,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

## Pre-processing

In [3]:
first_col = df.columns[0]
df = df.drop([first_col], axis=1) # eerste kolom heeft geen betekenis en laten we vallen

no_units = len(df.columns)
no_lots = len(df)
print('Number of lots: {} \nNumber of units: {}'.format(no_lots, no_units)) # indien output 100, 200: correct

Number of lots: 100
Number of units: 200

In [4]:
df.head()

,Unit 1,Unit 2,Unit 3,Unit 4,Unit 5,Unit 6,Unit 7,Unit 8,Unit 9,Unit 10,...,Unit 191,Unit 192,Unit 193,Unit 194,Unit 195,Unit 196,Unit 197,Unit 198,Unit 199,Unit 200
0,0,1,1,1,1,0,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
1,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,0,1,1,1,1,1
3,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,0,1,1,1
4,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

# Sampling plans  

*Group 16*  
‚Üí k1 = 3 and  
‚Üí lots = 41, 46, 19, 56, 31, 3, 51, 32, 86, 22

In [5]:
k1 = 3
our_lots = [41, 46, 19, 56, 31, 3, 51, 32, 86, 22]

*Auxiliary functions*

In [6]:
def unique_check(lst):
    if len(lst) == len(set(lst)):
        print('We have sampled the following unique units: \n{}'.format(lst))
    else:
        print('Oops, drawn units are not unique.üëé')

In [7]:
def costs(no_inspected, accept):
    k1_costs = k1 * no_inspected
    
    accept_index = [a-1 for a in accept]
    k2_costs = 0
    for i in accept_index:
        k2_costs += (200 - sum(df.iloc[i])) * 200
    
    total_costs = k1_costs + k2_costs
    return k1_costs, k2_costs, total_costs

### Single sampling plan

*Set-up:*

In [8]:
our_lots_index = [a-1 for a in our_lots]

In [9]:
random.seed(30) # maakt resultaten reproduceerbaar. Als we deze notebook runnen krijgen we steeds dezelfde random waarden.

accept = []
reject = []

for i in our_lots_index:
    print('For lot {}:'.format(i+1))
    lst = random.sample(range(1, 201), 45) # sample 45 (unique) values from interval [1,200] (as range(inclusive=1, exclusive=201))
    unique_check(lst)
    random_sample = [a-1 for a in lst] # -1 as unit 1 has index 0, and so on
    lot = df.iloc[i] # select lot
    lot_sample = list(lot[j] for j in random_sample)
    
    sum_lot_sample = sum(lot_sample)
    print('The sample of lot {} has {} qualitative and {} non-qualitative units.'.format(i+1, sum_lot_sample, 45-sum_lot_sample))
    
    if sum_lot_sample >= 44:
        print('We accept lot {}.‚úîÔ∏è\n'.format(i+1))
        accept.append(i+1)
    else:
        print('We reject lot {}.‚ùå \n'.format(i+1))
        reject.append(i+1)

print('We accept lots {} and reject lots {}.\n'. format(accept, reject))

no_inspected = 10 * 45
k1_costs_single, k2_costs_single, total_costs_single = costs(no_inspected, accept)

print('Total costs of this single sampling plan: {}, of which {} are inspection costs and {} are caused by placing defective units in assembly.'.format(total_costs_single, k1_costs_single, k2_costs_single))

For lot 41:
We have sampled the following unique units:
[139, 75, 157, 8, 160, 168, 54, 66, 13, 102, 97, 165, 35, 21, 119, 2, 134, 63, 7, 19, 41, 154, 136, 103, 195, 90, 138, 18, 177, 182, 64, 145, 72, 110, 169, 25, 176, 144, 29, 158, 127, 80, 34, 159, 198]
The sample of lot 41 has 45 qualitative and 0 non-qualitative units.
We accept lot 41.‚úîÔ∏è

For lot 46:
We have sampled the following unique units:
[65, 130, 21, 36, 63, 180, 81, 31, 8, 105, 199, 78, 46, 135, 165, 48, 121, 166, 85, 132, 116, 169, 86, 134, 87, 18, 6, 168, 27, 122, 125, 67, 123, 200, 149, 66, 44, 185, 163, 181, 73, 108, 58, 55, 173]
The sample of lot 46 has 41 qualitative and 4 non-qualitative units.
We reject lot 46.‚ùå

For lot 19:
We have sampled the following unique units:
[95, 111, 190, 159, 77, 131, 98, 170, 161, 194, 78, 165, 178, 121, 96, 80, 133, 36, 41, 76, 136, 83, 6, 177, 49, 31, 86, 144, 9, 149, 142, 65, 101, 163, 137, 10, 114, 2, 37, 153, 128, 157, 186, 68, 113]
The sample of lot 19 has 40 qualitative and 5 non-qualitative units.
We reject lot 19.‚ùå

For lot 56:
We have sampled the following unique units:
[133, 36, 35, 100, 136, 19, 192, 86, 7, 50, 105, 148, 122, 1, 37, 109, 17, 98, 64, 75, 77, 157, 4, 81, 88, 187, 123, 115, 167, 26, 92, 126, 174, 147, 46, 31, 63, 193, 124, 197, 28, 191, 52, 168, 25]
The sample of lot 56 has 39 qualitative and 6 non-qualitative units.
We reject lot 56.‚ùå

For lot 31:
We have sampled the following unique units:
[28, 102, 30, 45, 41, 180, 133, 89, 6, 176, 173, 145, 43, 186, 96, 194, 137, 78, 49, 154, 90, 39, 148, 59, 50, 160, 181, 36, 37, 114, 32, 174, 57, 83, 129, 172, 182, 188, 183, 107, 52, 74, 7, 161, 75]
The sample of lot 31 has 44 qualitative and 1 non-qualitative units.
We accept lot 31.‚úîÔ∏è

For lot 3:
We have sampled the following unique units:
[2, 103, 71, 181, 31, 123, 70, 26, 108, 191, 119, 143, 24, 121, 20, 62, 12, 144, 161, 116, 160, 54, 151, 1, 35, 30, 124, 180, 66, 5, 142, 19, 90, 47, 132, 113, 83, 174, 182, 197, 105, 17, 49, 18, 45]
The sample of lot 3 has 45 qualitative and 0 non-qualitative units.
We accept lot 3.‚úîÔ∏è

For lot 51:
We have sampled the following unique units:
[7, 155, 160, 2, 19, 28, 81, 161, 45, 73, 8, 153, 115, 178, 91, 179, 137, 100, 49, 12, 140, 136, 3, 164, 162, 29, 159, 111, 76, 71, 175, 101, 46, 69, 18, 30, 183, 109, 33, 134, 146, 94, 92, 106, 20]
The sample of lot 51 has 44 qualitative and 1 non-qualitative units.
We accept lot 51.‚úîÔ∏è

For lot 32:
We have sampled the following unique units:
[12, 159, 158, 47, 123, 2, 96, 41, 120, 168, 88, 101, 169, 197, 133, 178, 46, 132, 194, 191, 60, 86, 65, 5, 6, 167, 172, 24, 37, 176, 129, 81, 199, 126, 162, 64, 157, 34, 39, 164, 166, 58, 19, 29, 84]
The sample of lot 32 has 41 qualitative and 4 non-qualitative units.
We reject lot 32.‚ùå

For lot 86:
We have sampled the following unique units:
[137, 10, 196, 194, 58, 13, 135, 9, 85, 134, 108, 26, 130, 198, 66, 43, 72, 28, 192, 47, 5, 54, 89, 127, 48, 195, 59, 187, 157, 159, 39, 55, 95, 143, 153, 51, 86, 146, 131, 147, 142, 19, 64, 123, 53]
The sample of lot 86 has 40 qualitative and 5 non-qualitative units.
We reject lot 86.‚ùå

For lot 22:
We have sampled the following unique units:
[154, 76, 103, 147, 128, 83, 167, 183, 7, 31, 119, 10, 64, 182, 126, 122, 125, 157, 42, 148, 197, 79, 26, 123, 163, 108, 46, 36, 45, 23, 1, 199, 109, 101, 188, 137, 56, 16, 37, 135, 189, 191, 185, 187, 116]
The sample of lot 22 has 39 qualitative and 6 non-qualitative units.
We reject lot 22.‚ùå

We accept lots [41, 31, 3, 51] and reject lots [46, 19, 56, 32, 86, 22].

Total costs of this single sampling plan: 6950, of which 1350 are inspection costs and 5600 are caused by placing defective units in assembly.

## Double sampling plan

In [10]:
random.seed(123)

accept1 = []
reject1 = []
second_chance = []
samples = [] # We'll keep track of the sampled units, as we do not want to sample these again (if second chance).

for i in our_lots_index:
    print('For lot {}:'.format(i+1))
    lst = random.sample(range(1, 201), 28)
    unique_check(lst)
    random_sample = [a-1 for a in lst]
    samples.append(random_sample)
    lot = df.iloc[i]
    lot_sample = lot[random_sample]
    sum_lot_sample = sum(lot_sample)
    print('The sample of lot {} has {} qualitative and {} non-qualitative units.'.format(i+1, sum_lot_sample, 28-sum_lot_sample))
    
    if sum_lot_sample == 28:
        print('We accept lot {}.‚úîÔ∏è\n'.format(i+1))
        accept1.append(i+1)
    elif sum_lot_sample == 27:
        print('Lot {} is questionable and gets a second chance.üòê\n'.format(i+1))
        second_chance.append(i+1)
    else:
        print('We reject lot {}.‚ùå \n'.format(i+1))
        reject1.append(i+1)
        
print('We accept lots {}, reject lots {} and give lots {} a second chance.'. format(accept1, reject1, second_chance))

For lot 41:
We have sampled the following unique units:
[14, 69, 23, 197, 105, 199, 28, 10, 98, 138, 144, 86, 88, 200, 41, 35, 87, 190, 189, 180, 63, 42, 1, 112, 198, 153, 97, 18]
The sample of lot 41 has 28 qualitative and 0 non-qualitative units.
We accept lot 41.‚úîÔ∏è

For lot 46:
We have sampled the following unique units:
[2, 81, 188, 115, 27, 12, 24, 171, 37, 33, 6, 75, 111, 147, 123, 68, 121, 10, 79, 88, 134, 124, 53, 156, 164, 135, 145, 199]
The sample of lot 46 has 24 qualitative and 4 non-qualitative units.
We reject lot 46.‚ùå

For lot 19:
We have sampled the following unique units:
[4, 102, 197, 166, 132, 112, 176, 138, 164, 171, 153, 125, 134, 172, 108, 96, 131, 9, 198, 47, 22, 189, 169, 68, 44, 86, 87, 142]
The sample of lot 19 has 24 qualitative and 4 non-qualitative units.
We reject lot 19.‚ùå

For lot 56:
We have sampled the following unique units:
[101, 19, 186, 117, 100, 147, 87, 5, 49, 151, 23, 161, 94, 4, 91, 59, 104, 137, 129, 16, 164, 74, 127, 162, 60, 140, 124, 46]
The sample of lot 56 has 25 qualitative and 3 non-qualitative units.
We reject lot 56.‚ùå

For lot 31:
We have sampled the following unique units:
[40, 138, 114, 97, 193, 119, 12, 3, 35, 117, 50, 6, 66, 91, 176, 70, 112, 163, 108, 1, 28, 159, 17, 131, 187, 23, 22, 111]
The sample of lot 31 has 27 qualitative and 1 non-qualitative units.
Lot 31 is questionable and gets a second chance.üòê

For lot 3:
We have sampled the following unique units:
[3, 138, 97, 19, 140, 178, 163, 104, 8, 83, 68, 121, 9, 144, 86, 107, 90, 7, 164, 194, 42, 108, 17, 174, 37, 96, 172, 61]
The sample of lot 3 has 28 qualitative and 0 non-qualitative units.
We accept lot 3.‚úîÔ∏è

For lot 51:
We have sampled the following unique units:
[191, 21, 161, 15, 195, 133, 100, 138, 79, 38, 168, 75, 194, 95, 33, 137, 87, 196, 31, 162, 43, 151, 99, 111, 16, 35, 117, 172]
The sample of lot 51 has 27 qualitative and 1 non-qualitative units.
Lot 51 is questionable and gets a second chance.üòê

For lot 32:
We have sampled the following unique units:
[6, 90, 116, 190, 197, 185, 183, 172, 198, 78, 110, 8, 41, 134, 84, 133, 132, 143, 36, 88, 129, 27, 140, 95, 58, 146, 181, 24]
The sample of lot 32 has 26 qualitative and 2 non-qualitative units.
We reject lot 32.‚ùå

For lot 86:
We have sampled the following unique units:
[70, 130, 63, 53, 83, 68, 102, 12, 129, 21, 51, 199, 52, 5, 50, 69, 145, 60, 22, 154, 82, 182, 88, 142, 138, 35, 137, 175]
The sample of lot 86 has 27 qualitative and 1 non-qualitative units.
Lot 86 is questionable and gets a second chance.üòê

For lot 22:
We have sampled the following unique units:
[124, 127, 188, 102, 8, 66, 183, 148, 125, 88, 197, 58, 129, 33, 157, 163, 2, 154, 156, 199, 191, 179, 150, 32, 14, 93, 118, 175]
The sample of lot 22 has 27 qualitative and 1 non-qualitative units.
Lot 22 is questionable and gets a second chance.üòê

We accept lots [41, 3], reject lots [46, 19, 56, 32] and give lots [31, 51, 86, 22] a second chance.

In [11]:
random.seed(123)

accept2 = []
reject2 = []
second_chance2 = [a-1 for a in second_chance]
for i in second_chance2: # Twijfelachtige loten worden nog eens gesampled.
    print('For lot {}:'.format(i+1))
    used_sample = samples[our_lots_index.index(i)] # Deze units werden reeds gesampled en zullen worden verwijderd.
    total = list(range(0,200)) # O tot 199, want indices. 
    for j in used_sample:
        total.remove(j)
    new_total = total
    lst = random.sample(new_total, 26) # We samplen 26 units uit de verzameling van units die nog niet werden gesampled.
    
    unique_check(lst)
    
    lot = df.iloc[i]
    lot_sample = lot[lst]
    
    sum_lot_sample = sum(lot_sample)
    print('The second sample of lot {} has {} qualitative and {} non-qualitative units.'.format(i+1, sum_lot_sample, 26-sum_lot_sample))
    
    if sum_lot_sample == 26: ## D2 moet 0 zijn opdat lot toch nog geaccepteerd wordt.
        print('We accept lot {}.‚úîÔ∏è\n'.format(i+1))
        accept2.append(i+1)
    else:
        print('We reject lot {}.‚ùå \n'.format(i+1))
        reject2.append(i+1)
        
print('We accept lots {} and reject lots {}.\n'. format(accept2, reject2))
print('As summary, in a double sampling plan, lots {} get accepted and lots {} get rejected.\n'.format(accept1+accept2, reject1+reject2))

no_inspected1 = 10 * 28 + 4*26 # 4 lots get sampled a second time
k1_costs_double, k2_costs_double, total_costs_double = costs(no_inspected1, accept1+accept2)

print('Total costs of this double sampling plan: {}, of which {} are inspection costs and {} are caused by placing defective units in assembly.'.format(total_costs_double, k1_costs_double, k2_costs_double))

For lot 31:
We have sampled the following unique units:
[18, 81, 30, 125, 198, 36, 13, 117, 161, 168, 100, 102, 199, 51, 44, 101, 189, 188, 75, 52, 1, 133, 197, 115, 24, 3]
The second sample of lot 31 has 26 qualitative and 0 non-qualitative units.
We accept lot 31.‚úîÔ∏è

For lot 51:
We have sampled the following unique units:
[91, 130, 29, 11, 26, 44, 39, 5, 84, 126, 169, 141, 76, 139, 9, 89, 101, 153, 142, 60, 154, 166, 199, 3, 117, 151]
The second sample of lot 51 has 26 qualitative and 0 non-qualitative units.
We accept lot 51.‚úîÔ∏è

For lot 86:
We have sampled the following unique units:
[131, 162, 190, 178, 148, 158, 125, 113, 155, 9, 55, 25, 194, 83, 48, 103, 104, 166, 118, 22, 138, 117, 171, 182, 5, 57]
The second sample of lot 86 has 24 qualitative and 2 non-qualitative units.
We reject lot 86.‚ùå

For lot 22:
We have sampled the following unique units:
[171, 25, 184, 103, 4, 99, 64, 113, 154, 143, 18, 80, 141, 66, 159, 138, 50, 44, 157, 127, 106, 133, 14, 3, 39, 131]
The second sample of lot 22 has 23 qualitative and 3 non-qualitative units.
We reject lot 22.‚ùå

We accept lots [31, 51] and reject lots [86, 22].

As summary, in a double sampling plan, lots [41, 3, 31, 51] get accepted and lots [46, 19, 56, 32, 86, 22] get rejected.

Total costs of this double sampling plan: 6752, of which 1152 are inspection costs and 5600 are caused by placing defective units in assembly.

## Continuous sampling

In [12]:
def interval(x):
    lower = -1.095 + 0.04*x
    upper = 1.348 + 0.04*x
    return lower, upper

In [13]:
lst = random.sample(range(0,200), 200)
len(lst) == len(set(lst))

True

In [14]:
lst[0:1]

[49]

In [15]:
random.seed(123)


accept3 = []
reject3 = []
total_number_inspected = 0

for i in our_lots_index:
    print('For lot {}:'.format(i+1))
    lst = random.sample(range(0,200), 200) # We plaatsen de 200 units van elk lot in een random volgorde.
    x = 0 # cumulatief aantal ge√Ønspecteerde units
    y = 0 # cumulatief aantal fouten
    while interval(x)[0] < y < interval(x)[1]: ## assumptie: strikte tekens
        y += (1- df.iloc[i][lst[x]]) # y + 1 als unit defect (= 0), y + 0 als unit kwalitatief
        # door lst[x] te gebruiken, gaan we steeds naar volgende, random unit in lot.
        x += 1 
        
    total_number_inspected += x
    
    unique_check(lst[0:x])
    print('We have the following (x,y) coordinates: ({},{}).'.format(x, y))
    
    if interval(x)[0] >= y:
        print('As our lower line has coordinates ({}, {}), we see that our point falls below.\nWe accept lot {}. ‚úîÔ∏è\n'.format(x, round(interval(x)[0], 3), i+1))
        accept3.append(i+1)
    elif interval(x)[1] <= y:
        print('As our upper line has coordinates ({}, {}), we see that our point falls higher.\nWe reject lot {}. ‚ùå\n'.format(x, round(interval(x)[1], 3), i+1))
        reject3.append(i+1)
    else: 
        print('oops')
    
print('We accept lots {} and reject lots {}.\n'. format(accept3, reject3))

k1_costs_cont, k2_costs_cont, total_costs_cont = costs(total_number_inspected, accept3)

print('Total costs of this single sampling plan: {}, of which {} are inspection costs and {} are caused by placing defective units in assembly.'.format(total_costs_cont, k1_costs_cont, k2_costs_cont))

For lot 41:
We have sampled the following unique units:
[13, 68, 22, 196, 104, 198, 27, 9, 97, 137, 143, 85, 87, 199, 40, 34, 86, 189, 188, 179, 62, 41, 0, 111, 197, 152, 96, 17]
We have the following (x,y) coordinates: (28,0).
As our lower line has coordinates (28, 0.025), we see that our point falls below.
We accept lot 41. ‚úîÔ∏è

For lot 46:
We have sampled the following unique units:
[69, 129, 62, 52, 82, 67, 101, 11, 128, 20, 50, 198, 51, 4, 49, 68, 144, 59, 21, 153, 81, 181, 87, 141, 137, 34, 136, 174]
We have the following (x,y) coordinates: (28,3).
As our upper line has coordinates (28, 2.468), we see that our point falls higher.
We reject lot 46. ‚ùå

For lot 19:
We have sampled the following unique units:
[63, 187, 111, 178, 74, 47, 77, 28, 72, 171, 164, 83, 54, 131]
We have the following (x,y) coordinates: (14,2).
As our upper line has coordinates (14, 1.908), we see that our point falls higher.
We reject lot 19. ‚ùå

For lot 56:
We have sampled the following unique units:
[28, 158, 25, 196, 112, 99, 91, 172, 46, 33, 194, 0, 106, 53, 61, 1, 187, 190, 21, 44, 137, 68, 107, 43, 189, 78, 16, 6, 31, 145, 100, 178, 170, 13]
We have the following (x,y) coordinates: (34,3).
As our upper line has coordinates (34, 2.708), we see that our point falls higher.
We reject lot 56. ‚ùå

For lot 31:
We have sampled the following unique units:
[39, 70, 89, 173, 129, 163, 112, 57, 17, 109, 120, 101, 81, 12, 194, 190]
We have the following (x,y) coordinates: (16,2).
As our upper line has coordinates (16, 1.988), we see that our point falls higher.
We reject lot 31. ‚ùå

For lot 3:
We have sampled the following unique units:
[39, 41, 116, 68, 157, 59, 156, 50, 75, 48, 150, 152, 12, 79, 49, 193, 114, 6, 46, 40, 85, 159, 170, 198, 83, 10, 25, 62]
We have the following (x,y) coordinates: (28,0).
As our lower line has coordinates (28, 0.025), we see that our point falls below.
We accept lot 3. ‚úîÔ∏è

For lot 51:
We have sampled the following unique units:
[69, 46, 125, 198, 171, 167, 40, 61, 135, 32, 44, 164, 70, 102, 140, 121, 14, 97, 144, 107, 66, 177, 169, 83, 34, 19, 59, 112, 166, 77, 23, 93]
We have the following (x,y) coordinates: (32,3).
As our upper line has coordinates (32, 2.628), we see that our point falls higher.
We reject lot 51. ‚ùå

For lot 32:
We have sampled the following unique units:
[198, 117, 183, 28, 4, 127, 195, 159, 177, 14, 102, 16, 41, 197, 24, 33, 85, 165, 48, 65, 61, 181, 63, 113, 5, 9, 17, 129, 55, 122, 84, 141, 35, 42, 194, 170, 148, 192, 60, 29, 108, 27, 118, 188, 89, 18, 36, 115, 149]
We have the following (x,y) coordinates: (49,4).
As our upper line has coordinates (49, 3.308), we see that our point falls higher.
We reject lot 32. ‚ùå

For lot 86:
We have sampled the following unique units:
[57, 75, 118, 171, 138, 55, 116, 18, 53, 194, 173, 43, 131, 175, 76, 33, 80, 47, 72, 20, 103, 91, 60, 107, 114, 40, 1, 74, 128, 158, 189, 56]
We have the following (x,y) coordinates: (32,3).
As our upper line has coordinates (32, 2.628), we see that our point falls higher.
We reject lot 86. ‚ùå

For lot 22:
We have sampled the following unique units:
[77, 73, 72, 99, 7, 167, 16, 138, 15, 91, 186, 21, 66, 18, 192, 55, 11, 136, 130, 176, 156, 117, 132, 183, 32, 197, 67, 85, 139, 106, 69, 159, 46, 142, 48, 184, 147, 178, 105, 62, 4, 43, 169, 170, 127, 13, 86, 174, 133, 8, 50, 123, 34, 93, 190, 94, 82, 140, 146, 180, 29, 45, 83, 65, 165, 131, 172, 63, 120, 198, 57, 143, 126, 97, 78, 44, 110, 144, 54, 89]
We have the following (x,y) coordinates: (80,5).
As our upper line has coordinates (80, 4.548), we see that our point falls higher.
We reject lot 22. ‚ùå

We accept lots [41, 3] and reject lots [46, 19, 56, 31, 51, 32, 86, 22].

Total costs of this single sampling plan: 3823, of which 1023 are inspection costs and 2800 are caused by placing defective units in assembly.

# Question 3
AQL of 5% means we should only accept lots with a proportion of defectives of 5% or lower.

In [16]:
def evaluate(name, accept, reject):
    print('Evaluation of {} sampling plan:\n'.format(name))
    for i in accept:
        AQL = (200 - sum(df.iloc[i-1]))/200
        print('AQL of accepted lot {}: {}'.format(i, AQL))
        if AQL > 0.05:
            print('Wrongfully accepted!')
    print('\n')
    for i in reject:
        AQL = (200 - sum(df.iloc[i-1]))/200
        print('AQL of rejected lot {}: {}'.format(i, AQL))
        if AQL <= 0.05:
            print('Lot {} is wrongfully rejected!'.format(i))
    print('\n')

In [17]:
evaluate('single', accept, reject)
evaluate('double', accept1+accept2, reject1+reject2) # zelfde uitkomst als single; logisch want we accepteren/weigeren dezelfde loten
evaluate('continuous', accept3, reject3)

Evaluation of single sampling plan:

AQL of accepted lot 41: 0.02
AQL of accepted lot 31: 0.03
AQL of accepted lot 3: 0.05
AQL of accepted lot 51: 0.04


AQL of rejected lot 46: 0.09
AQL of rejected lot 19: 0.09
AQL of rejected lot 56: 0.09
AQL of rejected lot 32: 0.04
Lot 32 is wrongfully rejected!
AQL of rejected lot 86: 0.07
AQL of rejected lot 22: 0.07


Evaluation of double sampling plan:

AQL of accepted lot 41: 0.02
AQL of accepted lot 3: 0.05
AQL of accepted lot 31: 0.03
AQL of accepted lot 51: 0.04


AQL of rejected lot 46: 0.09
AQL of rejected lot 19: 0.09
AQL of rejected lot 56: 0.09
AQL of rejected lot 32: 0.04
Lot 32 is wrongfully rejected!
AQL of rejected lot 86: 0.07
AQL of rejected lot 22: 0.07


Evaluation of continuous sampling plan:

AQL of accepted lot 41: 0.02
AQL of accepted lot 3: 0.05


AQL of rejected lot 46: 0.09
AQL of rejected lot 19: 0.09
AQL of rejected lot 56: 0.09
AQL of rejected lot 31: 0.03
Lot 31 is wrongfully rejected!
AQL of rejected lot 51: 0.04
Lot 51 is wrongfully rejected!
AQL of rejected lot 32: 0.04
Lot 32 is wrongfully rejected!
AQL of rejected lot 86: 0.07
AQL of rejected lot 22: 0.07